<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<title>Autores</title>
</head>
<body>
	<h1>Novo Autor</h1>
	
	<form method="post" action="/autores/gravar">
	
		
		<input type="hidden" th:field="*{id}"/>
		
		<label for="nome">Nome:</label>
		<input type="text" th:field="*{nome}" id="nome" name="nome" placeholder="Nome">
		
		<hr>
		
		<input type="submit" value="Enviar" />
		
		<button><a href="/autores/list">Voltar</a></button>
	
	</form>
	
</body>
</html>
